<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Baby's about her page</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1>Baby's About Her Page</h1>
    <p>Here you will learn some fun facts <br>
       about this spunky and spicy cat</p>
    <img src="../public/Baby sleeping under vents.JPG" />

    <a href="/views/home.html">Back to Home</a>
  </body>
</html>
