<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Baby's fan page</title>
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
  </head>
  <body>
      <section>
        <h1>Welcome to Baby's official fan page</h1>
      </section>
<section>
    <img src="../public/Baby Home page.jpeg" class="home-photo" />
</section>
<section>
    <p>Thank you for stopping by my fan page!<br>
        Here I will be sharing candid photos of my everyday going-ons,<br>
        fun facts about myself, likes and definitely dislikes.<br>
        Enjoy!</p>
</section>
    <a href="./about.html">About</a>
    <a href="./works.html">Works</a>
    <a href="./photo-gallery.html">Photo Gallery</a>
  </body>
</html>
