<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Baby's Photo Gallery</title>
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Baby's Photo Gallery!</h1>
    <p>This is the home of all the great<br>
       photo-documentations of the most <br>
       terrific cat in all of Atlanta</p>
    <img src="../public/Baby sleeping.jpeg" class="photo-gallery-pic"/>

    <footer>
    <section class="home-links">
      <a href="./home.html">Home</a>
      <a href="./about.html">About</a>
      <a href="./works.html">Works</a>
      <b>Photo Gallery</b>
    </section>
    </footer>
  </body>
</html>