<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Baby's Work</title>
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1>Baby's work</h1>
    <p>This is where you will learn about Baby's<br>
        accomplishments as well as her misadventures.</p>
    <img src="../public/Baby spicy.jpeg" class="works-photo"/>

    <footer>
      <section class="home-links">
        <a href="./home.html">Home</a>
        <a href="./about.html">About</a>
        <b>Works</b>
        <a href="./photo-gallery.html">Photo Gallery</a>
      </section>
    </footer>
  </body>
</html>